<div class="navbar" role="navigation">
  <div class="menu">
    <input type="checkbox" id="menu-trigger" class="menu-trigger" />
    <label for="menu-trigger">
      <span class="menu-icon">
        <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 512 512">
        <path d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"/></svg>
      </span>
    </label>
    <div id="logo"><a href="/">nickeckert</a></div>
    <div class="trigger">
      <div class="trigger-container">
        {%- assign url = page.url -%}
        {%- assign menus = site.data.menus -%}
        {%- if menus %}
          {%- for menu in menus -%} 
            {%- if url == menu.url -%}
              <a class="menu-link active" href="{{ menu.url }}">{{ menu.title }}</a>
            {%- else -%} 
              {%- if menu.external -%}
                <a class="menu-link" href="{{ menu.url }}" target="_blank" rel="noopener">{{ menu.title }}</a>
              {%- else -%}
                <a class="menu-link" href="{{ menu.url }}">{{ menu.title }}</a>
              {%- endif -%} 
            {%- endif -%} 
          {%- endfor -%}
        {%- else -%}
          <a class="menu-link {% if url == '/about/' %}active{% endif %}" href="/about">about</a>
        {%- endif -%}
        <a id="dark-mode-toggle"><img id="dark-mode-img" src=""/></a>
      </div>
    </div>
  </div>
</div>