<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en "}}">
  {% include header.html %}
  <body site-theme="{{ site.mode }}" class="notransition">
    <script>
      const cachedTheme = localStorage.getItem("theme");
      if (cachedTheme) {
        document.body.setAttribute("site-theme", cachedTheme);
      }

      setTimeout(() => body.classList.remove("notransition"), 75);
    </script>
    <div class="content"> 
      {% include navbar.html %}
      <div class="wrapper">
        <main>
          {{ content }}
        </main>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
