<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en "}}">
  {% include header.html %}
  <body site-theme="{{ site.mode }}" class="notransition">
    <script>
      var cachedTheme = localStorage.getItem("theme");
      if (cachedTheme) {
        document.body.setAttribute("site-theme", cachedTheme);
      } else {
        localStorage.setItem("theme", "light"); // Default theme
      }

      setTimeout(() => body.classList.remove("notransition"), 75);
    </script>
    <div class="content"> 
      {% include navbar.html %}
      <div class="wrapper">
        <main>
          {{ content }}
        </main>
      </div>
    </div>
    {% include footer.html %}

    <script>
      cachedTheme = localStorage.getItem("theme");  // Pull the potentially updated theme
      if (cachedTheme == "light") {
        document.getElementById("dark-mode-img").src = "/assets/img/sun.png";
      } else if (cachedTheme == "dark") {
        document.getElementById("dark-mode-img").src = "/assets/img/moon.png";
      }
    </script>
  </body>
</html>
